<div class="w-full p-5 flex flex-col">
  <h2 class="text-2xl font-bold mb-3">Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-full flex flex-col", method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="avatar px-5">
      <div class="w-24 rounded-xl">
        <% if current_user.profile_image.attached? %>
          <%= image_tag current_user.profile_image, alt: "User Profile Image" %>
        <% else %>
          <img src="https://placehold.jp/100x100.png" alt="Project Placeholder" />
        <% end %>
      </div>
    </div>
    <div class="container flex p-5 gap-5">
      <div class="form-control w-1/2">
        <div class="form-control w-full my-3">
          <%= f.label :firstname, class: "label label-text" %>
          <%= f.text_field :firstname, autofocus: true, autocomplete: :"firstname", class: "input input-bordered w-full" %>
        </div>
        <div class="form-control w-full my-3">
          <%= f.label :lastname, class: "label label-text" %>
          <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "input input-bordered w-full" %>
        </div>
        <div class="form-control w-full my-3">
          <%= f.label :email, class: "label label-text" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
        </div>
        <div class="form-control w-full my-3">
          <%= f.label :profile_image, class: "label label-text" %>
          <%= f.file_field :profile_image, class: "file-input input-bordered w-full" %>
        </div>
      </div>
      <div class="form-control w-1/2">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-control w-full my-3">
          <div class="label">
            <%= f.label :password, class: "label-text" %>
            <i class="label-text-alt">(leave blank if you don't want to change it)</i>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
        </div>
        <div class="form-control w-full my-3">
          <%= f.label :password_confirmation, class: "label label-text" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
        </div>
        <div class="form-control w-full my-3">
          <div class="label">
            <%= f.label :current_password, class: "label-text mr-2" %>
            <i class="label-text-alt">(we need your current password to confirm your changes)</i>
          </div>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered w-full" %>
        </div>
        <div class="actions form-control w-full items-end my-3">
          <%= f.submit "Update", class: "btn btn-primary max-w-xs" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="divider"></div>
  <h3 class="text-2xl font-bold my-3">Cancel my account</h3>
  <div>
    <p class="label label-text mb-4">Unhappy? You can always cancel your account.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-error" %>
  </div>
</div>
